<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\styles.css">
    <title>Flask App</title>
</head>
<body>
<!--NAVBAR-->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/o-projektu">About</a></li>
        

        </ul>
    </nav>
<!--END OF NAVBAR-->

<!--body of page-->
    <h1>Basic HTML, CSS, Python(Flask) website.</h1>



    <div class="container">
        <form method="POST">
            <input type="text" name="input_text" placeholder="Write something and press Submit button or enter." required>
            <div class="dugmad">
                <button type="submit" value="Submit">SUBMIT</button>
                <button type="reset" value="Reset" >ERASE</button>
            </div>
        </form>
        <div class="output">
            <p>{{ output }}</p>
        </div>
    </div>
</body>
</html>
